<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>sonbuwon7backend</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="~{navbar :: navbarFragment}"></div>

<th:block layout:fragment="content"></th:block>

<th:block layout:fragment="script"></th:block>

</body>
</html>